
{% extends 'forumapp/main.html' %}

{% block login %}
<div class="auth">
    <form action="/auth/login/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Войти">
        <a href="/auth/reg/">Зарегистрироваться</a>
    </form>
</div>
{% endblock %}
{#    #}
{#    {% block login %}#}
{#    <div class="auth">#}
{#        <form action="/auth/login/" method="post">#}
{#            {% csrf_token %}#}
{#            <label for="username">Имя пользователя</label>#}
{#            <input type="text" name="username" id="username">#}
{#            <label for="password">Пароль</label>#}
{#            <input type="password" name="password" id="password">#}
{#            {% if login_error %}#}
{#                <label class="error"> {{ login_error }}</label>#}
{#            {% endif %}#}
{#            <input type="submit" value="Войти">#}
{#            <a href="/auth/reg/">Зарегистрироваться</a>#}
{#        </form>#}
{#    </div>#}
{#    {% endblock %}#}